<div id="search_bar">
  <% # Should be GET request, not POST %>
  <%= form_for(:flights, html: { method: :get }, remote: true) do |f| %>


  <%= f.label :from_airport %>
  <%= f.select :from_airport, @airport_options %>
  <%= f.label :to_airport %>
  <%= f.select :to_airport, @airport_options %>

  <%= f.label :number_passengers %>
  <%= f.select :number_passengers, ['1','2','3','4'] %>

  <%= f.label :month %>
  <%= select_month(Date.today) %>
  <%= f.label :day %>
  <%= select_day(Date.today) %>

  <%= f.submit "Search" %>

  <% end %>



  </div>
  <div style="clear:both"></div>
  <div id="results">
  </div>
